.body {
	max-width: 1440px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1440px;
	height: 873px;
	background-color: #f9f9fa;
}

.header_title_box {
	display: flex;
	flex-direction: row;
	padding-top: 80px;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	font-size: 12px;
	line-height: 16px;
	background: linear-gradient(to right, #4343ff, #f96d6d);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
}

.header_subtitle_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 845px;
	height: 110px;
}

.header_subtitle {
	font-family: "Galano Grotesque", sans-serif;
	font-weight: 400;
	font-size: 46px;
	line-height: 55px;
	margin-top: 22px;
	text-indent: 2em;
	overflow-wrap: break-word;
}

.header_container1 {
	margin-top: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header_container2 {
	margin-top: 35px;
	display: flex;
	flex-direction: row;
	margin-bottom: 80px;
	justify-content: space-between;
}

.header_container_item {
	max-width: 387px;
	margin-right: 35px;
	background-color: #ffffff;
}

.header_container_item:first-child {
	margin-left: 105px;
}

.header_container_item:last-child {
	margin-right: 105px;
}

.header_container_item_title {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	margin: 22px 162px 28px 22px;
	font-size: 17px;
	line-height: 23px;
	white-space: nowrap;
}

.header_container_item_text {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 17px;
	line-height: 26px;
	margin: 28px 22px 22px 22px;
}
